
<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col s6">
            <img class=""style="height: 500px" src="{{image}}">
        </div>
        <div class="col s6">
            <div class="row">
                <div class="col s12 center"> 
                    <h4>
                        {{movieTitle}}
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col s12"> 
                    <p>
                        {{movieOverview}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="login">
        <div *ngIf="myReview">
            <a class="waves-effect waves-light btn-small" (click)="reviewFormButton()">{{reviewForm === false ? 'Edit Review':'close'}}</a>
            <div *ngIf="reviewForm" class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="col s3">
                            <label>Rate the Movie</label>
                            <select [(ngModel)]="myReview.movieScore" name="myMovieScore"class = "input-field browser-default">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="10">10</option>
                            <option value="9">9</option>
                            <option value="8">8</option>
                            <option value="7">7</option>
                            <option value="6">6</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                            </select>
                        </div>                    
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea  [(ngModel)]="myReview.review" name="myReviewText" id="myReviewText" class="materialize-textarea"></textarea>
                        </div>
                    </div>
                    <a class="waves-effect waves-light btn-small" (click)="updateReview()">Update</a>
                </form>
            </div>
        </div>
        <div *ngIf="!myReview">
            <a class="waves-effect waves-light btn-small" (click)="reviewFormButton()">{{reviewForm === false ? 'New Review':'close'}}</a>
            <div *ngIf="reviewForm" class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="col s3">
                            <label>Rate the Movie</label>
                            <select [(ngModel)]="movieScore" name="movieScore"class = "input-field browser-default">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="10">10</option>
                            <option value="9">9</option>
                            <option value="8">8</option>
                            <option value="7">7</option>
                            <option value="6">6</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                            </select>
                        </div>                    
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea  [(ngModel)]="reviewText" name="reviewText" id="reviewText" class="materialize-textarea"></textarea>
                            <label for="reviewText">new review</label>
                        </div>
                    </div>
                    <a class="waves-effect waves-light btn-small" (click)="submitReview()">Submit</a>
                </form>
            </div>
        </div>

    </div>
    <div *ngIf="!login">
        <a class="waves-effect waves-light btn-small" href="/login">Login to write a review</a>
    </div>
    <div class="row">
        <div *ngFor="let review of allReviews">
                <app-review [review]=review></app-review>
        </div>
    </div>
</div>
