<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8" />
<title>Movie reviews</title>

</head>
<body>
	<h1>MovieReviews Website Login</h1>

	<form method="post" action="/MovieReviews/redirect">
		<div class="grid grid-pad">
			<label for="yourusername">Username:</label> <input type="text"
				id="yourusername" class="form-control" name="username" required />
			<label for="yourpassword">Password:</label> <input type="password"
				id="yourpassword" class="form-control" name="password" required />
			
			<button>Login</button>
		</div>
	</form>
	<div> <p> How Much Darker can this bank be and the answer is none. </p></div>
</body>
</html>
