
<nav class="grey darken-4">
    <div class="nav-wrapper">
      <a style="padding-left: 5%" href="/"><b>Movie Reviews</b></a>
      <ul id="nav-mobile" class="right">

        <div *ngIf="!login">
          <li>
              <a routerLink="login">Login</a>
          </li>
          <li>
            <a  routerLink="/newUser">Create New User</a>
          </li>
        </div>
        <div *ngIf="login">
          <li>
              <a routerLink="/dashboard">Dashboard</a>
          </li>
          <li>
            <a (click)="logout()">Log out</a>
          </li>
        </div>
      </ul>
    </div>
  </nav>