<?xml version="1.0" encoding="UTF-8"?>

<!-- This XML file serves as our ApplicationContext. It is here that we will 
	define our Spring Beans and wire them together. We will also configure any 
	Spring modules we're using here. -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:annotation-config></context:annotation-config>
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<context:component-scan base-package="com.moviereview.aspect;com.moviereview.Model;com.moviereview.Repository;com.moviereview.Service"></context:component-scan>
	

	
	<bean name="AdminRepository" class="com.moviereview.Repository.AdminRepositoryImpl" autowire="byName"></bean>
	<bean name="UserRepository" class="com.moviereview.Repository.UserRepositoryImpl" autowire="byName"></bean>
	<bean name="ReviewRepository" class="com.moviereview.Repository.ReviewRepositoryImpl" autowire="byName"></bean>
</beans>

